@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-primary: #21745a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth !important;
}
.slide1Bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("/images/Slider-1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.slide2Bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("/images/Slider-2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide3Bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("/images/Slider-3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide4Bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("/images/Slider-4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slideContentSide {
  clip-path: polygon(0% 0%, 86% 0, 100% 50%, 86% 100%, 0% 100%);
}

.bg-primary-gradient {
  background: linear-gradient(
    179deg,
    rgba(21, 85, 61, 1) 0%,
    rgba(33, 116, 90, 1) 100%
  );
}
.featureSide {
  clip-path: polygon(0 0, 83% 0, 96% 100%, 0% 100%);
}

@media (max-width: 1279px) {
  .featureSide {
    clip-path: none;
  }
}
